Credit Card Fraud Detectation Project

In [102]:
#importing the libraries
import numpy as np
import pandas as pd #for dataframe
import matplotlib # for visualization
import seaborn as sns # for visualization
from sklearn.linear_model import LogisticRegression #forming model
from sklearn.metrics import accuracy_score #for testing accuracy
import warnings
warnings.filterwarnings('ignore')

In [103]:
# loading the training and testing data
traindata=pd.read_csv('fraudTrain.csv')
testdata=pd.read_csv('fraudTest.csv')

DATA PREPROCESSING

In [104]:
#tra is for training data
traindata

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [105]:
#tst foe testing data
testdata

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [106]:
traindata.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [107]:
#describe function gives stastacical analysis for the dataframe
testdata.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,555719.000000,5.557190e+05,555719.000000,555719.000000,555719.000000,555719.000000,5.557190e+05,5.557190e+05,555719.000000,555719.000000,555719.000000
mean,277859.000000,4.178387e+17,69.392810,48842.628015,38.543253,-90.231325,8.822189e+04,1.380679e+09,38.542798,-90.231380,0.003860
std,160422.401459,1.309837e+18,156.745941,26855.283328,5.061336,13.721780,3.003909e+05,5.201104e+06,5.095829,13.733071,0.062008
min,0.000000,6.041621e+10,1.000000,1257.000000,20.027100,-165.672300,2.300000e+01,1.371817e+09,19.027422,-166.671575,0.000000
25%,138929.500000,1.800429e+14,9.630000,26292.000000,34.668900,-96.798000,7.410000e+02,1.376029e+09,34.755302,-96.905129,0.000000
50%,277859.000000,3.521417e+15,47.290000,48174.000000,39.371600,-87.476900,2.408000e+03,1.380762e+09,39.376593,-87.445204,0.000000
75%,416788.500000,4.635331e+15,83.010000,72011.000000,41.894800,-80.175200,1.968500e+04,1.385867e+09,41.954163,-80.264637,0.000000
max,555718.000000,4.992346e+18,22768.110000,99921.000000,65.689900,-67.950300,2.906700e+06,1.388534e+09,66.679297,-66.952026,1.000000

In [108]:
#head shows first n tuples
traindata.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [109]:
testdata.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [110]:
#tail shows last n tuples
traindata.tail(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [111]:
testdata.tail(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [112]:
traindata.shape
#no of rows and columns

(1296675, 23)

In [113]:
testdata.shape

(555719, 23)

In [114]:
traindata.columns
#all the columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [115]:
testdata.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [116]:
testdata.amt

0           2.86
1          29.84
2          41.28
3          60.05
4           3.19
           ...
555714     43.77
555715    111.84
555716     86.88
555717      7.99
555718     38.13
Name: amt, Length: 555719, dtype: float64

In [117]:
testdata.is_fraud
# 0 for valid transaction
# 1 for fraud

0         0
1         0
2         0
3         0
4         0
         ..
555714    0
555715    0
555716    0
555717    0
555718    0
Name: is_fraud, Length: 555719, dtype: int64

In [118]:
testdata.info()
#basic info about the columns like count of null value and datatype of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [119]:

traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [120]:
traindata.isnull().sum()
#finding count of null value if any

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [121]:
testdata.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [122]:
traindata['is_fraud'].value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

In [123]:
testdata['is_fraud'].value_counts()

is_fraud
0    553574
1      2145
Name: count, dtype: int64

In [124]:
# renaming the lebel 
valid =traindata[tra.is_fraud == 0]
fraud= traindata[tra.is_fraud == 1]

In [125]:
print(valid.shape)
print(fraud.shape)

(1289169, 23)
(7506, 23)

In [126]:
valid1 =testdata[tst.is_fraud == 0]
fraud1= testdata[tst.is_fraud == 1]

In [127]:
print(valid1.shape)
print(fraud1.shape)

(553574, 23)
(2145, 23)

In [128]:
valid.amt.describe()

count    1.289169e+06
mean     6.766711e+01
std      1.540080e+02
min      1.000000e+00
25%      9.610000e+00
50%      4.728000e+01
75%      8.254000e+01
max      2.894890e+04
Name: amt, dtype: float64

In [129]:
fraud.amt.describe()

count    7506.000000
mean      531.320092
std       390.560070
min         1.060000
25%       245.662500
50%       396.505000
75%       900.875000
max      1376.040000
Name: amt, dtype: float64

In [130]:
valid1.amt.describe()

count    553574.000000
mean         67.614408
std         152.471931
min           1.000000
25%           9.600000
50%          47.150000
75%          82.620000
max       22768.110000
Name: amt, dtype: float64

In [131]:
fraud1.amt.describe()

count    2145.000000
mean      528.356494
std       392.747594
min         1.780000
25%       214.510000
50%       371.940000
75%       907.770000
max      1320.920000
Name: amt, dtype: float64

In [132]:
traindata.groupby('is_fraud')
traindata

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [133]:
#eliminating the columns of object type as they dont have significant role
numerics = ['int64','int16','int32','float16','float32','float64']
tra1= traindata.select_dtypes(include=numerics)
#tra1.drop(columns=['lat','long','merch_lat','merch_long','Unnamed: 0','city_pop','unix_time'],inplace=True)
tra1.drop(columns=['Unnamed: 0',],inplace=True)
tra1.sample(30)

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
675331,4900628639996,23.62,90650,33.9056,-118.0818,105549,1350232850,34.675982,-118.909418,0
1123363,571465035400,76.54,82514,43.0048,-108.8964,1645,1365810270,42.360582,-109.070148,0
572063,213156747557083,3.59,91206,34.1556,-118.2322,172817,1346417772,34.984058,-118.673135,0
754606,3542162746848552,86.57,56029,43.5089,-93.4824,744,1353255586,42.683471,-93.209276,0
676662,4736845434667908128,68.02,12910,44.8816,-73.6408,2148,1350271292,45.344720,-73.943364,0
131181,375767678113375,74.52,22853,38.6476,-78.7717,4367,1331642844,38.735012,-79.247188,0
1078484,4777065439639721,1118.84,19456,40.1334,-75.4536,737,1364076399,40.374391,-75.791879,1
782452,4797297220948468262,69.42,47451,38.8938,-86.5246,1228,1354302524,38.101359,-87.049219,0
755596,213195754007681,2.52,52576,41.2001,-92.1354,568,1353278121,40.720375,-91.405356,0
849567,378278619832195,86.63,97403,44.0385,-123.0614,191096,1355575600,44.250851,-123.484868,0
321495,4727244663135968,45.19,36507,30.8635,-87.7644,19090,1338688687,30.874185,-88.382508,0
290317,4836998673805450,206.48,49854,46.0062,-86.2555,6469,1337734055,46.353868,-86.547702,0
1139601,4379260813815979609,29.30,94619,37.7878,-122.1884,381459,1366424155,37.448779,-121.818029,0
607141,502012776709,2.99,13342,42.6315,-75.1866,165,1347690678,43.232025,-76.072536,0
209592,4727244663135968,90.24,36507,30.8635,-87.7644,19090,1334623023,30.418951,-87.836512,0
437367,4745996322265,79.02,46346,41.4802,-86.6919,1423,1342273883,41.644705,-87.211765,0
262228,4006047418382,115.22,42634,36.8347,-84.4436,1565,1336686050,37.793245,-84.558915,0
899342,348789608637806,8.00,68950,40.4542,-98.6538,331,1356547109,39.581311,-97.674023,0
279448,4904681492230012,3.57,12419,41.8467,-74.1038,722,1337346888,41.345250,-74.737203,0
1200315,3533012926413100,87.54,13304,43.2237,-75.1612,1684,1368764502,43.309367,-74.184332,0
861178,4378993458389626,46.50,3818,43.9742,-71.1503,3807,1355760870,44.089071,-71.271891,0
1090368,3538520143479972,1.01,43408,41.5686,-83.3632,269,1364573453,41.571886,-82.567437,0
950474,38588538868506,94.38,79842,30.1886,-103.2214,498,1358314495,29.564986,-102.477012,0
458011,502038091380,73.24,65680,36.6704,-93.0377,1201,1342897257,36.099293,-93.115384,0
1092858,630425673344,2.24,24927,38.3880,-79.9906,365,1364649011,38.917120,-79.357190,0
1058572,675990301623,92.97,7439,41.0767,-74.5982,2456,1363369074,41.138937,-73.823380,0
1005672,4306630852918,93.66,63131,38.6171,-90.4504,927396,1361079056,38.048900,-91.039447,0
784051,4358137750029944984,73.77,50664,42.7012,-92.0762,53,1354324647,41.917804,-91.588326,0
1286636,38295635583927,2.25,79539,33.3749,-99.8473,178,1371426041,32.885152,-100.168034,0
986533,4710792708725663,39.89,46723,41.2290,-85.3244,7692,1360134558,42.105648,-85.393149,0

In [134]:
numerics = ['int64','int16','int32','float16','float32','float64']
tst2= testdata.select_dtypes(include=numerics)
#tst2.drop(columns=['lat','long','merch_lat','merch_long','Unnamed: 0','city_pop','unix_time'],inplace=True)
tst2.drop(columns=['Unnamed: 0'],inplace=True)
tst2

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,2291163933867244,2.86,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,3573030041201292,29.84,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,3598215285024754,41.28,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,3591919803438423,60.05,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,3526826139003047,3.19,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...
555714,30560609640617,43.77,63453,40.4931,-91.8912,519,1388534347,39.946837,-91.333331,0
555715,3556613125071656,111.84,77566,29.0393,-95.4401,28739,1388534349,29.661049,-96.186633,0
555716,6011724471098086,86.88,99323,46.1966,-118.9017,3684,1388534355,46.658340,-119.715054,0
555717,4079773899158,7.99,83643,44.6255,-116.4493,129,1388534364,44.470525,-117.080888,0
555718,4170689372027579,38.13,73034,35.6665,-97.4798,116001,1388534374,36.210097,-97.036372,0

In [135]:
tra1.groupby('is_fraud').mean()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,
0,4.172901e+17,67.667110,48805.107481,38.536888,-90.228142,88775.228137,1.349249e+09,38.536659,-90.228274
1,4.003577e+17,531.320092,48038.714229,38.663609,-89.916041,97276.763256,1.348389e+09,38.653901,-89.915808

In [136]:
#7506 fraud
valid_sample =valid.sample(n=7506)

In [137]:
#creating asn unifor data
ket =pd.concat([valid_sample,fraud],axis=0)

In [138]:
ket.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
327574,327574,2019-06-05 10:51:41,6597248210463122,"fraud_Lockman, West and Runte",grocery_pos,148.08,Kyle,Wright,M,610 Samantha Park Suite 149,...,43.0261,-94.4064,912,Optometrist,1968-05-16,321338a1a313aea58e5978994c5e5ff2,1338893501,43.372519,-93.480566,0
194006,194006,2019-04-10 03:18:36,4128730454058057622,fraud_Schamberger-O'Keefe,grocery_pos,114.25,Monique,Martin,F,68276 Matthew Springs,...,31.3833,-95.0619,43,"Engineer, production",1949-10-04,9dc98058a541b54b9b6ba70033e8357c,1334027916,30.488621,-94.080951,0
1056098,1056098,2020-03-14 17:16:06,3559723917628303,fraud_Torphy-Kertzmann,health_fitness,75.17,Matthew,Huerta,M,622 Williams Trafficway,...,42.4048,-88.3054,928,Outdoor activities/education manager,1985-05-13,b7d47636c0c70881371753132881b0b0,1363281366,43.050121,-88.772848,0
1084314,1084314,2020-03-26 15:15:32,2383461948823908,fraud_Bednar Inc,travel,3.85,Patrick,Vaughan,M,651 Miller Common,...,43.7450,-70.9092,1892,Audiological scientist,1956-03-02,1f628fa836a98714d3d34969a8b71f36,1364310932,44.457418,-70.441761,0
785061,785061,2019-12-01 06:13:59,4613314721966,fraud_Kutch and Sons,grocery_pos,95.01,Jason,Murphy,M,542 Steve Curve Suite 011,...,35.9946,-81.7266,885,Soil scientist,1988-09-15,dd503ccfc02e2c7b78557fe3a92e664c,1354342439,35.476539,-82.314409,0

In [139]:
ket.tail(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1295399,1295399,2020-06-21 01:00:08,3524574586339330,fraud_Kassulke PLC,shopping_net,977.01,Ashley,Cabrera,F,94225 Smith Springs Apt. 617,...,27.6330,-80.4031,105638,"Librarian, public",1986-05-07,a83b093f0c1d9068fa0089f7c722615f,1371776408,26.888686,-80.834389,1
1295491,1295491,2020-06-21 01:53:35,3524574586339330,fraud_Schumm PLC,shopping_net,1210.91,Ashley,Cabrera,F,94225 Smith Springs Apt. 617,...,27.6330,-80.4031,105638,"Librarian, public",1986-05-07,f75b35bed13b9e692f170dba45a15b21,1371779615,28.216707,-79.855648,1
1295532,1295532,2020-06-21 02:16:56,4005676619255478,"fraud_Tillman, Dickinson and Labadie",gas_transport,10.24,William,Perry,M,458 Phillips Island Apt. 768,...,30.4590,-90.9027,71335,Herbalist,1994-05-31,a0ba2472cd3fc9731f2a18d3f308f5c3,1371781016,29.700456,-91.361632,1
1295666,1295666,2020-06-21 03:26:20,3560725013359375,fraud_Corwin-Collins,gas_transport,21.69,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,1969-09-15,daa281350b1e16093c7b4bf97bf4d6ed,1371785180,32.675272,-103.484949,1
1295733,1295733,2020-06-21 03:59:46,4005676619255478,fraud_Koss and Sons,gas_transport,10.20,William,Perry,M,458 Phillips Island Apt. 768,...,30.4590,-90.9027,71335,Herbalist,1994-05-31,0c1c20470fc0d16019b5c368cadf563a,1371787186,31.363252,-89.932309,1

In [140]:
ket.groupby('is_fraud')

In [141]:
numerics = ['int64','int16','int32','float16','float32','float64']
ket1= traindata.select_dtypes(include=numerics)
ket1

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,0,2703186189652095,4.97,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0
1,1,630423337322,107.23,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0
2,2,38859492057661,220.11,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0
3,3,3534093764340240,45.00,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0
4,4,375534208663984,41.96,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,30263540414123,15.56,84735,37.7175,-112.4777,258,1371816728,36.841266,-111.690765,0
1296671,1296671,6011149206456997,51.70,21790,39.2667,-77.5101,100,1371816739,38.906881,-78.246528,0
1296672,1296672,3514865930894695,105.93,88325,32.9396,-105.8189,899,1371816752,33.619513,-105.130529,0
1296673,1296673,2720012583106919,74.90,57756,43.3526,-102.5411,1126,1371816816,42.788940,-103.241160,0
1296674,1296674,4292902571056973207,4.30,59871,45.8433,-113.8748,218,1371816817,46.565983,-114.186110,0

In [142]:
ket1.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,648473.169029,4.172901e+17,67.667110,48805.107481,38.536888,-90.228142,88775.228137,1.349249e+09,38.536659,-90.228274
1,624949.724354,4.003577e+17,531.320092,48038.714229,38.663609,-89.916041,97276.763256,1.348389e+09,38.653901,-89.915808

In [143]:
x = ket.drop(columns='is_fraud',axis=1)
y=ket['is_fraud']

In [144]:
print(x)

         Unnamed: 0 trans_date_trans_time               cc_num  \
327574       327574   2019-06-05 10:51:41     6597248210463122
194006       194006   2019-04-10 03:18:36  4128730454058057622
1056098     1056098   2020-03-14 17:16:06     3559723917628303
1084314     1084314   2020-03-26 15:15:32     2383461948823908
785061       785061   2019-12-01 06:13:59        4613314721966
...             ...                   ...                  ...
1295399     1295399   2020-06-21 01:00:08     3524574586339330
1295491     1295491   2020-06-21 01:53:35     3524574586339330
1295532     1295532   2020-06-21 02:16:56     4005676619255478
1295666     1295666   2020-06-21 03:26:20     3560725013359375
1295733     1295733   2020-06-21 03:59:46     4005676619255478

                                     merchant        category      amt  \
327574          fraud_Lockman, West and Runte     grocery_pos   148.08
194006              fraud_Schamberger-O'Keefe     grocery_pos   114.25
1056098                fraud_Torphy-Kertzmann  health_fitness    75.17
1084314                      fraud_Bednar Inc          travel     3.85
785061                   fraud_Kutch and Sons     grocery_pos    95.01
...                                       ...             ...      ...
1295399                    fraud_Kassulke PLC    shopping_net   977.01
1295491                      fraud_Schumm PLC    shopping_net  1210.91
1295532  fraud_Tillman, Dickinson and Labadie   gas_transport    10.24
1295666                  fraud_Corwin-Collins   gas_transport    21.69
1295733                   fraud_Koss and Sons   gas_transport    10.20

           first     last gender                        street  ...    zip  \
327574      Kyle   Wright      M   610 Samantha Park Suite 149  ...  50598
194006   Monique   Martin      F         68276 Matthew Springs  ...  75858
1056098  Matthew   Huerta      M       622 Williams Trafficway  ...  60072
1084314  Patrick  Vaughan      M             651 Miller Common  ...   4047
785061     Jason   Murphy      M     542 Steve Curve Suite 011  ...  28611
...          ...      ...    ...                           ...  ...    ...
1295399   Ashley  Cabrera      F  94225 Smith Springs Apt. 617  ...  32960
1295491   Ashley  Cabrera      F  94225 Smith Springs Apt. 617  ...  32960
1295532  William    Perry      M  458 Phillips Island Apt. 768  ...  70726
1295666   Brooke    Smith      F     63542 Luna Brook Apt. 012  ...  79759
1295733  William    Perry      M  458 Phillips Island Apt. 768  ...  70726

             lat      long  city_pop                                   job  \
327574   43.0261  -94.4064       912                           Optometrist
194006   31.3833  -95.0619        43                  Engineer, production
1056098  42.4048  -88.3054       928  Outdoor activities/education manager
1084314  43.7450  -70.9092      1892                Audiological scientist
785061   35.9946  -81.7266       885                        Soil scientist
...          ...       ...       ...                                   ...
1295399  27.6330  -80.4031    105638                     Librarian, public
1295491  27.6330  -80.4031    105638                     Librarian, public
1295532  30.4590  -90.9027     71335                             Herbalist
1295666  31.8599 -102.7413        23                        Cytogeneticist
1295733  30.4590  -90.9027     71335                             Herbalist

                dob                         trans_num   unix_time  merch_lat  \
327574   1968-05-16  321338a1a313aea58e5978994c5e5ff2  1338893501  43.372519
194006   1949-10-04  9dc98058a541b54b9b6ba70033e8357c  1334027916  30.488621
1056098  1985-05-13  b7d47636c0c70881371753132881b0b0  1363281366  43.050121
1084314  1956-03-02  1f628fa836a98714d3d34969a8b71f36  1364310932  44.457418
785061   1988-09-15  dd503ccfc02e2c7b78557fe3a92e664c  1354342439  35.476539
...             ...                               ...         ...        ...
1295399  1986-05-07  a83b093f0c1d9068fa0089f7c722615f  1371776408  26.888686
1295491  1986-05-07  f75b35bed13b9e692f170dba45a15b21  1371779615  28.216707
1295532  1994-05-31  a0ba2472cd3fc9731f2a18d3f308f5c3  1371781016  29.700456
1295666  1969-09-15  daa281350b1e16093c7b4bf97bf4d6ed  1371785180  32.675272
1295733  1994-05-31  0c1c20470fc0d16019b5c368cadf563a  1371787186  31.363252

         merch_long
327574   -93.480566
194006   -94.080951
1056098  -88.772848
1084314  -70.441761
785061   -82.314409
...             ...
1295399  -80.834389
1295491  -79.855648
1295532  -91.361632
1295666 -103.484949
1295733  -89.932309

[15012 rows x 22 columns]

In [145]:
print(y)

327574     0
194006     0
1056098    0
1084314    0
785061     0
          ..
1295399    1
1295491    1
1295532    1
1295666    1
1295733    1
Name: is_fraud, Length: 15012, dtype: int64

In [146]:
#testing variables
xtst=tst2.drop(columns='is_fraud',axis=1)
ytst=tst2['is_fraud']

In [147]:
#training variables
xtra=tra1.drop(columns='is_fraud',axis=1)
ytra=tra1['is_fraud']

In [148]:
xtst

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
0,2291163933867244,2.86,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714
1,3573030041201292,29.84,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431
2,3598215285024754,41.28,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111
3,3591919803438423,60.05,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061
4,3526826139003047,3.19,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734
...,...,...,...,...,...,...,...,...,...
555714,30560609640617,43.77,63453,40.4931,-91.8912,519,1388534347,39.946837,-91.333331
555715,3556613125071656,111.84,77566,29.0393,-95.4401,28739,1388534349,29.661049,-96.186633
555716,6011724471098086,86.88,99323,46.1966,-118.9017,3684,1388534355,46.658340,-119.715054
555717,4079773899158,7.99,83643,44.6255,-116.4493,129,1388534364,44.470525,-117.080888
555718,4170689372027579,38.13,73034,35.6665,-97.4798,116001,1388534374,36.210097,-97.036372

In [149]:
#using LogisticRegressions
model=LogisticRegression()

In [150]:
model.fit(xtra,ytra)

LogisticRegression()

In [151]:
#checking accuracy 
x_p=model.predict(xtra)
tran_acc=accuracy_score(x_p,ytra)
tran_acc

0.9942113482561166

In [152]:
#checking accuracy 
x_t_p=model.predict(xtst)
test_acc=accuracy_score(x_t_p,ytst)
test_acc

0.9961401355721147

In [153]:
#using knn 
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import confusion_matrix , accuracy_score
#instantiate learning model(k=5)

c=KNeighborsClassifier(n_neighbors=1)

#fitting the model

c.fit(xtra,ytra)

#predicting the Test set Results
#0 for vaild
#1 for fraud

y_pred = c.predict(xtst)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [154]:
c.score(xtst,ytst) #accuracy score

0.9907435232554582

In [155]:
#predicting the result 
#0 for vaild
#1 for fraud
model.predict([[359821528502475,41.28,11710,40.6729,-73.5365,34496,1371816893,40.495810	,-74.196111]])

array([0], dtype=int64)

In [156]:
model.predict(xtst)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [157]:
import pickle

In [158]:
#pickle.dump(c,open('mod2.pkl','wb'))